# Requirements for the first project
requests

# Requirements for the second project
pypdf
python-docx
sentence-transformers
faiss-cpu
numpy
tqdm

# Requirements for the third project
# No additional requirements needed

# Requirements for the fourth project
# No additional requirements needed

# Requirements for the fifth project
datasets

# Requirements for the sixth project
hf_xet

# Requirements for the seventh project
ollama
pytest

# Requirements for the eighth project
peft
evaluate
fastapi
uvicorn

# Requirements for the 9th project
dash
dash-bootstrap-components
pandas
gunicorn
requests

# Requirements for the 10th project
huggingface_hub
torch
transformers
llama-cpp-python